rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }
    match /videos/{video} {
      allow read;
      allow create, update, delete: if isSignedIn();

      match /markerComments/{comment} {
        allow read;
        allow create, update, delete: if isSignedIn();
      }
    }
    match /profiles/{profile} {
      allow read: if request.auth != null;
      allow create, update, delete: if isSignedIn();
    }
  }
}