/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map, #ytplayer {
  width: 100vw;
  height: 49vh;
  max-width: 720px;
  max-height: 405px;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}